{% extends 'base.html' %}
{% load static %}

{% block style %}

{% comment %} <style>
    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
        padding-top: 1%;
    }
</style> {% endcomment %}
{% endblock style %}

{% block content %}
<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="{% static 'images/logok.jpg' %}" alt="" height="60"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">About </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/about-overview">Overview </a>
								<a class="dropdown-item" href="/about-infrastructure">Infrastructure </a>
								<a class="dropdown-item" href="/about-management">Administration </a>
                                <a class="dropdown-item" href="/about-campuslife">Campus Life </a>
								<a class="dropdown-item" href="/about-gallery">Gallery </a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Academics </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/academics-overview">Overview </a>
								<a class="dropdown-item" href="/academics-board">Board Affiliation </a>
								<a class="dropdown-item" href="/academics-subjects">Subjects </a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Facilities </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/general">General </a>
								<a class="dropdown-item" href="/laboratory">Laboratory </a>
								<a class="dropdown-item" href="/sports">Sports </a>
								<a class="dropdown-item" href="/hostel">Hostel </a>
                                <a class="dropdown-item" href="/bus">Bus </a>
							</div>
						</li>
						{% comment %} <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Values </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="course-grid-2.html">Value Based Education </a>
								<a class="dropdown-item" href="course-grid-3.html">Well-Being and Nutrition </a>
								<a class="dropdown-item" href="course-grid-4.html">Knowledge Park </a>
							</div>
						</li> {% endcomment %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Admissions </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/admission-procedure">Admission Procedure </a>
								<a class="dropdown-item" href="/required-documentation">Required Documentation </a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Parent Zone </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/parent-feedback">Parent Feedback </a>
								<a class="dropdown-item" href="/FAQ">FAQ </a>
								<a class="dropdown-item" href="/know-your-child">Know Your Child </a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="/career-zone">Career Zone</a></li>
						<li class="nav-item active"><a class="nav-link" href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header --> 
	
    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Want to know more?</h3>
                <p class="lead">Let us give you more details about our school. Please fill out the form below.</p>
            </div><!-- end title -->

            <div class="row justify-content-center">
                <div class="col-xl-8 col-md-12 col-sm-8">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactform" class="" action="/contact" name="contactform" method="post">
							{% csrf_token %}
                            <div class="row row-fluid">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Give us more details.."></textarea>
                                </div>
                                <div class="text-center pd">
                                    <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
    

{% endblock content %}